body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body:hover {
  cursor: url("http://cur.cursors-4u.net/mechanics/mec-1/mec5.cur"), auto;
}

#main-section {
  display: block;
}

span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 100px;
  color: white;
  height: 200px;
  width: 200px;
  z-index: 1;
  animation: libot 1s linear;
  animation-iteration-count: 1;
  animation-play-state: paused;
}
.main {
  position: absolute;
  bottom: 0%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, 0);
  background: linear-gradient(#034f84, #80ced6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}

h2 {
  text-shadow: -0.06em 0 red, 0.06em 0 cyan;
}

h3 {
  text-shadow: -0.06em 0 red, 0.06em 0 cyan;
}

#sky {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#rocket-1,
#rocket-2,
#rocket-3 {
  width: 30vw;
  float: left;
  margin: 0 1.6vw;
  transform: translateX(5%) translateY(5%);
}

img {
  width: 100%;
}

strong {
  position: relative;
}

.portfolio__title {
  text-align: center;
  font-size: 50px;
  color: black;
  -webkit-text-fill-color: #febe76;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #febe76;
}

strong::after {
  content: "";
  position: absolute;
  bottom: -0.6rem;
  left: -0.5rem;
  right: -0.5rem;
  height: 0.75rem;
  z-index: 1;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

p > strong {
  font-weight: bold;
}

p > strong::after {
  bottom: -0.2rem;
  height: 0.5rem;
  left: -0.25rem;
  right: -0.25rem;
}

#rocket-1 {
  margin-top: 20vh;
}

#rocket-2 {
  margin-top: 5vh;
}

#rocket-3 {
  margin-top: 15vh;
}

.stars,
.błysk {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.stars {
  z-index: -1;
  background: #000 url("https://image.ibb.co/mjnygo/stars.png") repeat top
    center;
}

.błysk {
  z-index: -2;
  background: transparent url("https://image.ibb.co/ir1DE8/twinkling.png")
    repeat top center;
  animation: move-back 200s linear infinite;
}

.cometa {
  position: absolute;
  top: -1000px;
  right: -1000px;
  height: 15%;
  width: 10%;
  animation: cometStart 1s linear;
  animation-play-state: paused;
}
