body{
    margin:0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  body:hover{
    cursor: url('http://cur.cursors-4u.net/mechanics/mec-1/mec5.cur'),auto;
  }
#main-section{
  display:block;
}
/*Backround First************/
#sky {
width: 100vw;
height: 100vh;
overflow: hidden;
}
#rocket-1, #rocket-2, #rocket-3 {
width: 30vw;
float: left;
margin: 0 1.6vw;
transform: translateX(5%) translateY(5%);
}

img {
width: 100%;
}

strong {
  position: relative;
}

.portfolio__title
{
  text-align: center;
  font-size: 50px;
  color: black;
  -webkit-text-fill-color: #FEBE76;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FEBE76;
}

strong::after {
  content: '';
  position: absolute;
  bottom: -0.6rem;
  left: -0.5rem;
  right: -0.5rem;
  height: 0.75rem;
  z-index: 1;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

p > strong {
  font-weight: bold;  
}

p > strong::after {
  bottom: -0.2rem;
  height: 0.5rem;
  left: -0.25rem;
  right: -0.25rem;
}


#rocket-1 {
margin-top: 20vh;
}

#rocket-2 {
margin-top: 5vh;
}

#rocket-3 {
margin-top: 15vh;
}

.stars,.błysk{
  position:absolute;
  display:block;
  top:0; bottom:0;
  left:0; right:0;
  width:100%; height:100%;
}

.stars {
  z-index: -1;
  background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.błysk{
  z-index: -2;
  background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
  animation: move-back 200s linear infinite;
}
.cometa{
 position: absolute;
 top: -1000px;
 right: -1000px;
 height: 15%;
 width: 10%;
 animation: cometStart 1s linear;
 animation-play-state:paused;
}

/*Koniec sekcji Background First**********/
span {
position: absolute;
top: 0;
left: 0;
font-size: 100px;
color:white;
height: 200px;
width: 200px;
z-index: 1;
animation: libot 1s linear;
animation-iteration-count: 1;
animation-play-state: paused;
}
.main{
position: absolute;
bottom:0%;
left: 50%;

font-size: 50px;
transform: translate(-50%,0);
background: linear-gradient(#034f84, #80ced6);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
z-index:1;
}

h2{
text-shadow: -0.06em 0 red, 0.06em 0 cyan;
}
h3{
text-shadow: -0.06em 0 red, 0.06em 0 cyan;
}

/*Sekcja About me*******/
#about{
display:none;
}
.profile-card {
background: royalblue;
border-top:2px solid royalblue;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  margin-top: 70px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 6px rgba(0 ,0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_landscape 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_landscape 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}
.profile-card header {
  width: 179px;
  height: 180px;
  padding: 40px 20px 30px 20px;
  display: inline-block;
  float: left;
  border-right: 2px dashed #EEEEEE;
  background:url('https://image.ibb.co/mjnygo/stars.png');
  color: #000000;
  margin-top: 50px;
  opacity: 0;
  text-align: center;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}

.profile-card header a > img {
  width: 120px;
  max-width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
}
.profile-card header a:hover > img {
  -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
}
.bgc-container{
display:none;
}
.bg {
animation:slide 3s ease-in-out infinite alternate;
background-image: linear-gradient(-60deg, #1c253c 50%, #1f3e5a 50%);
bottom:0;
left:-50%;
opacity:.5;
position:fixed;
right:-50%;
top:0;
z-index:-1;
}

.bg2 {
animation-direction:alternate-reverse;
animation-duration:4s;
}

.bg3 {
animation-duration:5s;
}

.profile-card .profile-bio {
  width: 175px;        
  height: 180px;
  display: inline-block;
  float: right;
  padding: 50px 20px 30px 20px;
background:url('cool.png');
background-position: center;
  color: #333333;
  margin-top: 50px;
  text-align: center;
  opacity: 0;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}
/*Koniec sekcji about me*/

/*Sekcja latająca rakieta******/
.fly {
  position: absolute; top: 10px; left: 60px; width: 30%; height: 30%; transition: 0.00001s linear ; display: none;
}

#clouds{
display:none;
}
.cloudPane {
margin: 0 auto;
}
.infoPane {
  width: 1200px;
  height: 3000px;
  margin: 0 auto;
  position: relative;
  background: white;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .3);
  overflow: hidden;
  z-index: -5;
}
.cloudPane {
  width:100%;
  height: 400px;
  background: -webkit-linear-gradient(#4A4A4A, #738185, #B3DAE6, white);
  background: -moz-linear-gradient(#4A4A4A, #738185, #B3DAE6, white);
  background: linear-gradient(#4A4A4A, #738185, #B3DAE6, white);
  z-index: -4;
}

#cloud1 {
  opacity: .9;
  top:50px;
  left: 120%;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  -moz-animation: drift 25s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 8s;
  -webkit-animation: drift 25s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 8s;
  animation: drift 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 8s;
  z-index:2;
}
#circ1 p {
  color: #B3DAE6;
  font-size: 40px;
  font-family: helvetica;
  position: absolute;
  top: 5px;
  left: -10px;
}
#cloud2 {
  opacity: .8;
  top:40px;
  left: 120%;
  -webkit-transform: scale(.7);
  -moz-transform: scale(.7);
  transform: scale(.7);
  -moz-animation: drift 50s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -webkit-animation: drift 50s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation: drift 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 1;
}
#cloud3 {
  opacity: 0;
  top:20px;
  left: 50%;
  -webkit-transform: scale(.35);
  -moz-transform: scale(.35);
  transform: scale(.35);
  -moz-animation: driftBg 70s;
  -moz-animation-timing-function: linear;
  -webkit-animation: driftBg 70s;
  -webkit-animation-timing-function: linear;
  animation: driftBg 70s;
  animation-timing-function: linear;
  z-index: 0;
}
#cloud4 {
  opacity: 0;
  top:50px;
  left: 20%;
  -webkit-transform: scale(.40, .45);
  -moz-transform: scale(.40, .45);
  transform: scale(.40, .45);
  -moz-animation: driftBg2 60s;
  -moz-animation-timing-function: linear;
  -webkit-animation: driftBg2 60s;
  -webkit-animation-timing-function: linear;
  animation: driftBg2 60s;
  animation-timing-function: linear;
  z-index: 0;
}
#cloud5 {
  opacity: 0;
  top:220px;
  left: 90%;
  -webkit-transform: scale(.40);
  -moz-transform: scale(.40);
  transform: scale(.40);
  -moz-animation: driftBg3 90s;
  -moz-animation-timing-function: linear;
  -webkit-animation: driftBg3 90s;
  -webkit-animation-timing-function: linear;
  animation: driftBg3 90s;
  animation-timing-function: linear;
  z-index: 0;
}
#cloud6 {
  opacity: .7;
  top:60px;
  left: 120%;
  -webkit-transform: scale(.40);
  -moz-transform: scale(.40);
  transform: scale(.40);
  -moz-animation: drift 110s;
  -moz-animation-timing-function: linear;
  -mox-animation-iteration-count: infinite;
  -moz-animation-delay: 11s;
  -webkit-animation: drift 110s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 11;
  animation: drift 110s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 11;
  z-index: 0;
}
#cloud7 {
  opacity: .8;
  top:95px;
  left: 120%;
  -webkit-transform: scale(.7);
  -moz-transform: scale(.7);
  transform: scale(.7);
  -moz-animation: drift 45s;
  -moz-animation-timing-function: linear;
  -mox-animation-iteration-count: infinite;
  -moz-animation-delay: 35s;
  -webkit-animation: drift 45s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 35s;
  animation: drift 45s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 35s;
  z-index: 1;
}
#circ1 {
  z-index: 1;
}
#circ2 {
  top: 50px;
  left: -40px;
}
#circ3 {
  top: 50px;
  left: -120px;
}
#circ4 {
  top: 30px;
  left: -60px;
}
#circ5 {
  top: 100px;
  left: -150px;
}
#circ6 {
  top: 100px;
  left: 130px;
}
#circ1shadow, #circ2shadow, #circ3shadow, #circ5shadow, #circ6shadow {
  background-repeat: no-repeat;
  position: absolute;
  z-index:2;
  -webkit-transform: scale(.9, -.9);
  -mox-transform: scale(.9, -.9);
  transform: scale(.9, -.9);

}
#circ1shadow {
  background: -webkit-radial-gradient(48% 64%, circle, rgba(204, 0, 0, 0) 110px, #9BBBC4 50px);
  background: -moz-radial-gradient(48% 64%, circle, rgba(204, 0, 0, 0) 110px, #9BBBC4 50px);
  background: radial-gradient(48% 64%, circle, rgba(204, 0, 0, 0) 110px, #9BBBC4 50px);
  top: 2px;
  z-index:3;
}
#circ2shadow {
  background: -webkit-radial-gradient(58% 61%, circle, rgba(204, 0, 0, 0) 82px, #9BBBC4 50px);
  background: -moz-radial-gradient(58% 61%, circle, rgba(204, 0, 0, 0) 82px, #9BBBC4 50px);
  background: radial-gradient(58% 61%, circle, rgba(204, 0, 0, 0) 82px, #9BBBC4 50px);
  top: 0px;
}
#circ3shadow {
  background: -webkit-radial-gradient(54% 60%, circle, rgba(204, 0, 0, 0) 80px, #9BBBC4 50px);
  background: -moz-radial-gradient(54% 60%, circle, rgba(204, 0, 0, 0) 80px, #9BBBC4 50px);
  background: radial-gradient(54% 60%, circle, rgba(204, 0, 0, 0) 80px, #9BBBC4 50px);
  top: 8px;
  -webkit-transform: scale(.8, -.8);
  -moz-transform: scale(.8, -.8);
  transform: scale(.8, -.8);
}
#circ5shadow {
  background: -webkit-radial-gradient(57% 61%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
  background: -moz-radial-gradient(57% 61%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
  background: radial-gradient(57% 61%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
  top: 0px;
}
#circ6shadow {
  background: -webkit-radial-gradient(44% 65%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
  background: -moz-radial-gradient(44% 65%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
  background: radial-gradient(44% 65%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
  top: 0px;
}
.bigCloud {
  box-shadow: 10px 10px 5px 20px black inset;
  position: absolute;
}
.smallCircle {
  height: 100px;
  width: 100px;
  background: white;
  border-radius: 100%;
  position: absolute;
}
.middleCircle {
  height: 150px;
  width: 150px;
  background: white;
  border-radius: 100%;
  position: absolute;
}
.largeCircle {
  height: 200px;
  width: 200px;
  background: white;
  border-radius: 100%;
  position: absolute;
}
.control{
position: absolute;
color:rgb(255,255,255,0.6);
bottom:5%;
left:5%;
display:none;
font-size:100px;
}

/*collision elements*/

.myHTML
{
  position: absolute;
  top: 20%;
  left: 80%;
  height: 100px;
  width: 100px;
  display: none;
}

.MyHtmlSkill
{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #F16529;
  display: none;
}

.rocket-land
{
  position: absolute;
  top: -100%;
  width: 30%;
  animation-name: land;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes land {
  from {top: -100%;}
  to{top:100px;}
}


.backDoor
{
  background-color: #333;
  position:absolute;
  width:200px;
  height:300px;
  margin: 0 auto;
  margin-top:50px;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.handle
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
 
}
.door
{
  background-color: brown;
  position:absolute;
  top:0px;
  left:0px;
  width:200px;
  height:300px;
  transform-origin: left;
  transition: all 0.5s ease-in-out;
}
.exit
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
color: #fff;
font-size: 30px;
z-index: -1;
cursor: pointer;
}

.doorOpen
{
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}

/*projekty*/

  .portfolio {
    margin-top: 50px;
        
    }
    .boxy{
      position: relative;
        display: block;
      width: 40%;
      height: 300px;
      margin: 0 auto 2em;
      padding: 0;
      background-size: cover;
      border-radius: 10px;
      box-shadow:0px 25px 50px rgba(0,0,0,.5);
      overflow:hidden;
      transition:all .4s ease;
    }
    .portfolio h3{
      margin-bottom: 30px;
      color: grey;
      font-family:"Dancing Script";
        font-size: 7em;
    }
    .figure{
      color: white;
      font-family: "Dancing Script";
      font-size: 3em; 
      padding: 5%;
      
      
    }
    .overlay_1{
       width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      z-index:10;
    }
    .overlay_1:after {
      content: '';
      width: 200%;
      border-radius: 10px;
      height: 100%;
      background-color: #202020;
      opacity: 0;
      position: absolute;
      top: 0;
      z-index: -10;
      left: 0;
      transition: all .3s ease;
    }
    .overlay-text {
        position: relative;
        top:-200px;
        margin-bottom:1em;
        margin-top:3em;
      font-family: "Montserrat";
        font-size: 2.25em;
        font-weight: 200;
        color:white;
        text-align: center;
        letter-spacing:5px;
        transition:all .3s cubic-bezier(.3, 0, 0, 1.3);
      }
    .overlay-link{
      position: relative;
      display: block;
      width: 60%;
      top: 220px;
      padding: 10px;
      margin: 0 auto;
      font-family: "Montserrat";
      color: white;
      letter-spacing: 3px;
      text-decoration: none;
      text-align: center;
      border: 2px solid white;
      border-radius: 3px;
      font-size: 1.25em;
      transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
    }
    .overlay-link:hover{
      background-color: white;
          color:#202020;
      text-decoration: none;
    }
    
    
    .boxy:hover .overlay-text {
      top: 0;
    }
    .boxy:hover .overlay-link{
      top: 0;
    }
    .boxy:hover .overlay_1:after {
      opacity: .75;
    }
    
    .box_1{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-image: url('img/gifImage.gif');
    }
/* Koniec sekcji latająca rakieta*/



/* Sekcja keyframes animation*/
@-webkit-keyframes drift {
  from {
      left: 120%;
  }
  to {
      left: -25%;
  }
}
@-moz-keyframes drift {
  from {
      left: 120%;
  }
  to {
      left: -25%;
  }
}
@keyframes drift {
  from {
      left: 120%;
  }
  to {
      left: -25%;
  }
}
@-webkit-keyframes driftBg {
  0% {
      left: 50%;
      opacity: 0
  }
  3% {
      left: 48%;
      opacity: .7
  }
  100% {
      left: -25%;
      opacity: .7;
  }
}
@-moz-keyframes driftBg {
  0% {
      left: 50%;
      opacity: 0
  }
  3% {
      left: 48%;
      opacity: .7
  }
  100% {
      left: -25%;
      opacity: .7;
  }
}
@keyframes driftBg {
  0% {
      left: 50%;
      opacity: 0
  }
  3% {
      left: 48%;
      opacity: .7
  }
  100% {
      left: -25%;
      opacity: .7;
  }
}
@-webkit-keyframes driftBg2 {
  0% {
      left: 20%;
      opacity: 0
  }
  3% {
      left: 19%;
      opacity: .7
  }
  100% {
      left: -25%;
      opacity: .7;
  }
}
@-moz-keyframes driftBg2 {
  0% {
      left: 20%;
      opacity: 0
  }
  3% {
      left: 19%;
      opacity: .7
  }
  100% {
      left: -25%;
      opacity: .7;
  }
}
@keyframes driftBg2 {
  0% {
      left: 20%;
      opacity: 0
  }
  3% {
      left: 19%;
      opacity: .7
  }
  100% {
      left: -25%;
      opacity: .7;
  }
}
@-webkit-keyframes driftBg3 {
  0% {
      left: 90%;
      opacity: 0
  }
  2% {
      left: 88%;
      opacity: .65
  }
  100% {
      left: -25%;
      opacity: .65;
  }
}
@-moz-keyframes driftBg3 {
  0% {
      left: 90%;
      opacity: 0
  }
  2% {
      left: 88%;
      opacity: .65
  }
  100% {
      left: -25%;
      opacity: .65;
  }
}
@keyframes driftBg3 {
  0% {
      left: 90%;
      opacity: 0
  }
  2% {
      left: 88%;
      opacity: .65
  }
  100% {
      left: -25%;
      opacity: .65;
  }
}


@keyframes libot{
 0%{
  transform: rotate(0deg);
} 50% {
  transform: rotate(50deg);
}
 100%{
  transform: rotate(360deg);
}
}

@keyframes move-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes cometStart{
0%{
top:-1000px;
right:-2000px;
}
100%{
top:30%;
right:40%;
}
}

@keyframes slide {
0% {
  transform:translateX(-25%);
}
100% {
  transform:translateX(25%);
}
}
.me{
animation: image 5s linear;
animation-duration: 1;
}

@keyframes image{
0%{
transform: rotateY(0);

}
100%{
transform: rotateY(360deg);
}
}


  @-webkit-keyframes puff {
      0% {
          top: 100%;
          width: 0px;
          padding-bottom: 0px;
      }
      100% {
          top: 50%;
          width: 100%;
          padding-bottom: 100%;
      }	
  }
  @keyframes puff {
      0% {
          top: 100%;
          width: 0px;
          padding-bottom: 0px;
      }
      100% {
          top: 50%;
          width: 100%;
          padding-bottom: 100%;
      }	
  }


@-webkit-keyframes init {
  0% {
      width: 0px;
      height: 0px;
  }
  100% {
      width: 56px;
      height: 56px;
      margin-top: 0px;
      opacity: 1;
  }	
}
@keyframes init {
  0% {
      width: 0px;
      height: 0px;
  }
  100% {
      width: 56px;
      height: 56px;
      margin-top: 0px;
      opacity: 1;
  }	
}
@-webkit-keyframes puff_portrait {
  0% {
      top: 100%;
      height: 0px;
      padding: 0px;
  }
  100% {
      top: 50%;
      height: 100%;
      padding: 0px 100%;
  }	
}
@keyframes puff_portrait {
  0% {
      top: 100%;
      height: 0px;
      padding: 0px;
  }
  100% {
      top: 50%;
      height: 100%;
      padding: 0px 100%;
  }	
}
@-webkit-keyframes puff_landscape {
  0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
  }
  100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
  }	
}
@keyframes puff_landscape {
  0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
  }
  100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
  }	
}
@-webkit-keyframes borderRadius {
  0% {
      -webkit-border-radius: 50%;
  }
  100% {
      -webkit-border-radius: 0px;
  }	
}
@keyframes borderRadius {
  0% {
      -webkit-border-radius: 50%;
  }
  100% {
      border-radius: 0px;
  }	
}
@-webkit-keyframes moveDown {
  0% {
         top: 50%;
  }
  50% {
     top: 40%;
  }
  100% {
     top: 100%;
  }	
}
@keyframes moveDown {
  0% {
         top: 50%;
  }
  50% {
     top: 40%;
  }
  100% {
     top: 100%;
  }	
}
@-webkit-keyframes moveUp {
  0% {
      background: #2980b9;
      top: 100%;
  }
  50% {
     top: 40%;
  }
  100% {
     top: 50%;
     background: #E0E0E0;
  }	
}
@keyframes moveUp {
  0% {
      background: #2980b9;;
      top: 100%;
  }
  50% {
     top: 40%;
  }
  100% {
     top: 50%;
     background: #E0E0E0;
  }	
}

@keyframes materia_portrait {
  0% {
      background: white;
  }
  50% {
      border-radius: 4px;
  }
  100% {
      width: 880px;
      height: 440px;
      background: royalblue;
      border-radius: 4px;
  }
}
@-webkit-keyframes moveIn {
  0% {
      margin-top: 50px;
      opacity: 0;
  }
  100% { 
      opacity: 1;
      margin-top: -20px;
  }	
}
@keyframes moveIn {
  0% {
      margin-top: 50px;
      opacity: 0;
  }
  100% { 
      opacity: 1;
      margin-top: -20px;
  }	
}
/*Koniec sekcji keyframes*/

/*Optymalizacja strony */

@media screen and (min-aspect-ratio: 4/3) {
  body {
      background-size: 100% auto;
  }
  body:before {
      width: 0px;
  }
}
@media screen and (min-aspect-ratio: 4/3) {
  body {
      background-size: 100% auto;
  }
  body:before {
      width: 0px;
      -webkit-animation: puff_landscape 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
      animation: puff_landscape 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  }
}

@media screen and (min-height: 480px) {
  .profile-card {
      -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_portrait 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
      animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia_portrait 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  }
  .profile-card header {
      width: auto;
      height: auto;
      padding: 30px 20px;
      display: block;
      float: none;
      border-right: none;
  }
  .profile-card .profile-bio {
      width: auto;
      height: auto;
      padding: 15px 20px 30px 20px;
      display: block;
      float: none; 
  }
  .profile-social-links {
      width: 100%;       
      display: block;
      float: none; 
  }
}

@media screen and (max-width: 600px) {
h1{
 top:70%;
 left:50%;
}
span{
 height:150px;
 width:150px;
}
#rocket-1{
 position:absolute;
 top:10%;
 left:2%;
}
#rocket-2{
 position:absolute;
 top:10%;
 left:30%;

}
#rocket-3{
 position:absolute;
 top:10%;
 left:65%;
}
}
@media screen and (max-width: 375px) {
h1{
 top:50%;
 left:50%;
}
span{
 height:100px;
 width:100px;
}
#rocket-1{
 position:absolute;
 top:10%;
 left:2%;
}
#rocket-2{
 position:absolute;
 top:10%;
 left:30%;

}
#rocket-3{
 position:absolute;
 top:10%;
 left:65%;
}
}

@media screen and (min-width: 1024px) {

}